/* style.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  margin-bottom: 100px; /* Adjust extra space at the bottom as needed */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.tutorial-content, .video-section {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add space between sections */
}

.tutorial-content h2, .video-section h2 {
  color: #333;
}

.screenshot {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.video-section iframe {
  width: 100%;
  height: 315px; /* Adjust as needed to maintain the aspect ratio */
  border: 0;
}
