.image-project {
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-project img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.negative-image img {
  filter: invert(100%) hue-rotate(1000deg);
}

.sepia-image img {
  width: 100%;
  height: 100%;
  filter: sepia(100%);
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.blur-image img {
  filter: blur(5px);
}

.butterfly-image {
  filter: invert(100%);
}

.tictactoe-wrap {
  position: relative;
  z-index: 2;
}

.tictactoe-wrap img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.football-field {
  border: 18px solid transparent;
  border-image-source: url(images/tic-tac-toe.png);
  border-image-slice: 50;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
}

.image-project-seagull {
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(to bottom right, #8989ff, #fdfdff);
}

.image-project-seagull img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
