body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.image-project {
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Add negative filter to the butterfly image */
.butterfly-image {
    filter: invert(100%);
}
